@charset "UTF-8";

/// Generates a `@font-face` declaration. Accepts arugments for weight, style, usage with the Rails Asset Pipeline and file formats.
///
/// @example scss - Usage
///   @include font-face("source-sans-pro", "/fonts/source-sans-pro/source-sans-pro-regular");
///   @include font-face("source-sans-pro", "/fonts/source-sans-pro/source-sans-pro-bold", bold);
///   @include font-face("source-sans-pro", "/fonts/source-sans-pro/source-sans-pro-italic", normal, italic);
///
/// The `$file-formats` argument allows you specify your font's file formats (the default is `eot woff2 woff ttf svg`):
///
/// @example scss
///   @include font-face("source-sans-pro", "/fonts/source-sans-pro/source-sans-pro-regular", $file-formats: eot woff2 woff);
///
/// You can also use the Rails Asset Pipeline (place the fonts in `app/assets/fonts/`):
///
/// @example scss
///   @include font-face("source-sans-pro", "source-sans-pro/source-sans-pro-regular", normal, $asset-pipeline: true, $file-formats: eot woff ttf));

@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: $asset-pipeline,
  $file-formats: eot woff2 woff ttf svg) {

  $font-url-prefix: font-url-prefixer($asset-pipeline);

  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;

    src: font-source-declaration(
      $font-family,
      $file-path,
      $asset-pipeline,
      $file-formats,
      $font-url-prefix
    );
  }
}
